/* universal style */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* shared common style */
body {}

.section-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.text-center {
    text-align: center;
}

.text-white {
    color: rgb(255, 255, 255);
}

.text-black {
    color: rgb(7, 2, 17);
}

.text-gray {
    color: rgba(255, 255, 255, 0.8);
}

.text-red {
    color: #FF0000;
}

/* header style */
header {
    background-image: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%), url('../images/Banner\ Image.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1150px;
    margin: 0px auto;
    border-radius: 10px;
}

.banner {
    max-width: 600px;
}

.banner-content {
    font-family: "Merriweather", serif;
    text-align: center;
}

.banner-title {
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}

.banner-sub-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 40px;
}

/* main  */
main {
    max-width: 1150px;
    margin: 90px auto;
}

.new-year {
    margin-bottom: 90px;
}

.new-year-content {
    text-align: center;
    color: #FF0000;
    font-family: "Inter", sans-serif;
}

.new-year-offer {
    font-size: 76px;
    font-weight: 700;
    line-height: 107px;
}

.new-year-sub-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 30px;
}

.new-year-title {
    color: rgb(7, 2, 17);
    font-size: 42px;
    font-weight: 700;
    line-height: 58px;
}

.new-year-content img {
    width: 550px;
    border: 1px dashed gray;
    margin-top: 20px;
}

/* party style */
.party {
    height: 90vh;
    background-image: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0)), url('../images/Vectorrr.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left top;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    border-radius: 10px;
    margin-bottom: 90px;
}

.party-content {
    text-align: left;
    flex-basis: 50%;
    flex-shrink: 0;

}

.party>img {
    max-width: 100%;
}

.party-title {
    color: rgb(255, 255, 255);
    font-family: Merriweather;
    font-size: 56px;
    font-weight: 900;
    line-height: 76px;
}

.party-description {
    color: rgba(255, 255, 255, 0.8);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.party-content a {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}

/* party schedule style */
.party-schedule {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    height: 40vh;
    text-align: center;
    background: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0) 100%);
    margin-bottom: 90px;
}

.party-schedule h3 {
    font-family: Inter;
    font-size: 30px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;

}

.schedule-content button {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: center;
    text-transform: uppercase;
    border-radius: 8px;
    background: rgb(255, 0, 0);
    border: 0;
    padding: 5px 10px;
}

/* best-offer-style */
.best-offer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60vh;
}

.offer-item1,
.offer-item2,
.offer-item3 {
    flex: 1;
}

.item1-heading {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
}

.item1-sub-heading {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 0%;
    text-align: left;
    text-transform: capitalize;
}

.item1-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}

.offer-item2 {
    text-align: center;
}

.item3-heading {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    line-height: 58px;
    letter-spacing: 0%;
    text-align: left;
}

.item3-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0%;
    text-align: left;
}


.offer-item2 img {
    height: 300px;
    width: 300px;
    border: 1px solid red;
    border-radius: 50%;
    padding: 5px;
}

/* holidays-sale style */
.holidays-sale-container {
    margin-bottom: 90px;
}

.holidays-sale-content {
    text-align: center;
}

.sale-title {
    color: rgb(7, 2, 17);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
}

.sale-sub-title {
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 91px;
}

.sale-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}

.holidays-sale-img {
    position: relative;
    background-image: url('../images/Rectangle 2.png');
    background-repeat: no-repeat;
    background-position: left bottom;
    height: 90vh;
}

.sale-img1 {
    position: absolute;
    bottom: 37%;
    right: 0;
    width: 30%;

}

.sale-img2 {
    position: absolute;
    bottom: 40%;
    right: 18%;
    width: 25%;
}

.sale-img3 {
    position: absolute;
    bottom: 8%;
    left: 5%;
    width: 50%;
}

/* portfolio style  */
.portfolio-container {
    margin-bottom: 90px;
}

.portfolio-content {
    text-align: left;
    margin-bottom: 20px;
    max-width: 80%;
}

.portfolio-heading {
    color: rgb(255, 0, 0);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;

}

.portfolio-sub-heading {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
}

.portfolio-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.portfolio-img {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.portfolio-img > img {
    width: 32%;
    height: auto;
}

/* subscribe style */
.subscribe-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    height: 65vh;
    padding: 50px 0px;
}

.subscribe-content {
    text-align: center;
    
}

.subscribe-content img {
    max-width: 40%;
}

.subscribe-title {
    color: rgb(7, 2, 17);
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    line-height: 60px;
    text-transform: capitalize;
}

.subscribe-description {
    color: rgba(7, 2, 17, 0.6);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.subscribe-form {
    display: block;    
    position: relative;
    margin-top: 8px;
}

.subscribe-form input[type="email"] {
    width: 25%;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    border: 0;
    padding: 11px 8px;
    background: rgb(255, 255, 255);    
    position: absolute;
    left: 30%;
}

.subscribe-form input[type="submit"] {
    width: 12%;
    background: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    padding: 6px 8px;
    margin-left: -5px;
    border-radius: 0px 50px 50px 0px;
    border: none;
    font-family: Inter;
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;    
    text-align: center;
    text-transform: capitalize;
    position: absolute;
    left: 55%;
}

/* footer style */
.footer-container {
    background: rgb(7, 2, 17);
    padding: 100px 120px;
}

.footer-content {
    display: flex;
    justify-content: space-between;
}

.content-description {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;

}

.footer-contact {
    font-family: Inter;
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0%;
    text-align: left;     
}

.footer-contact > li {
    list-style-type: none;        
}

.footer-contact li a {
    text-decoration: none;
    color: rgb(255, 255, 255);    
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}


.footer-social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin: 30px 0px;
}

.footer-rights {
    color: rgb(255, 255, 255);
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0%;
    text-align: left;
    display: flex;
    justify-content: space-between;
}